.color-blue {
    --spinner-color: var(--accent-primary);
}

.loader {
    position: relative;

    width: 10px;
    height: 10px;

    color: transparent;

    background-color: transparent;
    border-radius: 5px;
    box-shadow:
        0 -18px 0 0 var(--spinner-color),
        12.7279px -12.7279px 0 0 var(--spinner-color),
        18px 0 0 0 var(--spinner-color),
        12.7279px 12.7279px 0 0 rgb(152 128 255 / 0%),
        0 18px 0 0 rgb(152 128 255 / 0%),
        -12.7279px 12.7279px 0 0 rgb(152 128 255 / 0%),
        -18px 0 0 0 rgb(152 128 255 / 0%),
        -12.7279px -12.7279px 0 0 rgb(152 128 255 / 0%);

    animation: dot-spin 1.5s infinite linear;
}

@keyframes dot-spin {
    0%,
    100% {
        box-shadow:
            0 -18px 0 0 var(--spinner-color),
            12.7279px -12.7279px 0 0 var(--spinner-color),
            18px 0 0 0 var(--spinner-color),
            12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            0 18px 0 -5px rgb(152 128 255 / 0%),
            -12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            -18px 0 0 -5px rgb(152 128 255 / 0%),
            -12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%);
    }

    12.5% {
        box-shadow:
            0 -18px 0 -5px rgb(152 128 255 / 0%),
            12.7279px -12.7279px 0 0 var(--spinner-color),
            18px 0 0 0 var(--spinner-color),
            12.7279px 12.7279px 0 0 var(--spinner-color),
            0 18px 0 -5px rgb(152 128 255 / 0%),
            -12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            -18px 0 0 -5px rgb(152 128 255 / 0%),
            -12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%);
    }

    25% {
        box-shadow:
            0 -18px 0 -5px rgb(152 128 255 / 0%),
            12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%),
            18px 0 0 0 var(--spinner-color),
            12.7279px 12.7279px 0 0 var(--spinner-color),
            0 18px 0 0 var(--spinner-color),
            -12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            -18px 0 0 -5px rgb(152 128 255 / 0%),
            -12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%);
    }

    37.5% {
        box-shadow:
            0 -18px 0 -5px rgb(152 128 255 / 0%),
            12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%),
            18px 0 0 -5px rgb(152 128 255 / 0%),
            12.7279px 12.7279px 0 0 var(--spinner-color),
            0 18px 0 0 var(--spinner-color),
            -12.7279px 12.7279px 0 0 var(--spinner-color),
            -18px 0 0 -5px rgb(152 128 255 / 0%),
            -12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%);
    }

    50% {
        box-shadow:
            0 -18px 0 -5px rgb(152 128 255 / 0%),
            12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%),
            18px 0 0 -5px rgb(152 128 255 / 0%),
            12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            0 18px 0 0 var(--spinner-color),
            -12.7279px 12.7279px 0 0 var(--spinner-color),
            -18px 0 0 0 var(--spinner-color),
            -12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%);
    }

    62.5% {
        box-shadow:
            0 -18px 0 -5px rgb(152 128 255 / 0%),
            12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%),
            18px 0 0 -5px rgb(152 128 255 / 0%),
            12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            0 18px 0 -5px rgb(152 128 255 / 0%),
            -12.7279px 12.7279px 0 0 var(--spinner-color),
            -18px 0 0 0 var(--spinner-color),
            -12.7279px -12.7279px 0 0 var(--spinner-color);
    }

    75% {
        box-shadow:
            0 -18px 0 0 var(--spinner-color),
            12.7279px -12.7279px 0 -5px rgb(152 128 255 / 0%),
            18px 0 0 -5px rgb(152 128 255 / 0%),
            12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            0 18px 0 -5px rgb(152 128 255 / 0%),
            -12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            -18px 0 0 0 var(--spinner-color),
            -12.7279px -12.7279px 0 0 var(--spinner-color);
    }

    87.5% {
        box-shadow:
            0 -18px 0 0 var(--spinner-color),
            12.7279px -12.7279px 0 0 var(--spinner-color),
            18px 0 0 -5px rgb(152 128 255 / 0%),
            12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            0 18px 0 -5px rgb(152 128 255 / 0%),
            -12.7279px 12.7279px 0 -5px rgb(152 128 255 / 0%),
            -18px 0 0 -5px rgb(152 128 255 / 0%),
            -12.7279px -12.7279px 0 0 var(--spinner-color);
    }
}
