.tooltip {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tooltip-row {
    display: flex;
    gap: 16px;
    padding-right: 50px;
    padding-bottom: 4px;

    border-bottom: 2px solid rgb(255 255 255 / 10%);

    &:last-child {
        padding-bottom: 0;

        border-bottom: none;
    }
}

.tooltip-key {
    min-width: 110px;
}
