.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.dnd {
    width: 100%;
}

.button {
    width: 100%;
}

.root {
    height: 40px;
}
