.root {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.description {
    width: 100%;

    &-area {
        height: 450px;
    }
}

.button {
    height: 60px;
    width: 300px;
}
