.label {
    position: absolute;
    top: -10px;
    left: 16px;

    padding: 0 4px;

    font: var(--text-small);
    color: var(--text-small-color);
}

.color-white {
    background: linear-gradient(180deg, #fff 0%, #edf0f2 100%);
}

.color-gray {
    background: linear-gradient(180deg, #f4f7f9 0%, #edf0f2 100%);
}
